altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
astroid==2.15.8
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
bs4==0.0.1
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
curl_cffi==0.13.0
dill==0.4.0
etfpy==1.0.1
exceptiongroup==1.3.1
fastapi==0.122.0
frozendict==2.4.7
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
idna==3.11
isort==5.13.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
mccabe==0.7.0
multitasking==0.0.12
narwhals==2.12.0
numpy==2.0.2
packaging==25.0
pandas==2.3.3
pathlib==1.0.1
peewee==3.18.3
pillow==11.3.0
platformdirs==4.4.0
plotly==6.5.0
protobuf==6.33.1
psycopg2-binary==2.9.9
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pydeck==0.9.1
pylint==2.17.7
python-dateutil==2.9.0.post0
pytz==2025.2
random-user-agent==1.0.1
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
starlette==0.49.3
streamlit==1.50.0
ta==0.11.0
tenacity==9.1.2
toml==0.10.2
tomli==2.3.0
tomlkit==0.13.3
tornado==6.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
websockets==15.0.1
wrapt==1.17.3
yfinance==0.2.66
slowapi
